.git
.gitignore
.env
.env.backup
.env.production
.idea
.vscode
.fleet
.nova
.zed
.phpunit.cache
.phpactor.json
node_modules
vendor
storage
public/storage
database/*.sqlite
tests
phpunit.xml
*.log
Thumbs.db
.DS_Store
Homestead.json
Homestead.yaml
.agents
public/hot
public/build
